# to-dos
- [ ] understand the datsets

In [29]:
#pd.__version__
#pd.io.excel.xlsx['openpyxl']
#pd.set_option("xlsx","openpyxl")
# above both options does not work :
# currently have to specify engine in pd.read_excel itseld
# “openpyxl” supports newer Excel file formats
# link:https://stackoverflow.com/questions/60288732/pandas-read-excel-returns-pendingdeprecationwarning

'1.1.3'

In [30]:
import pandas as pd

In [53]:
# for population data
cols=['State', 'Level', 'Name', 'TRU', 'No_HH', 'TOT_P', 'TOT_M', 'TOT_F']
census=pd.read_excel('datasets/census.xlsx',engine='openpyxl',usecols=cols)
censusIndia=census.iloc[0,:]
census=census.loc[census.Level=='STATE']
census=census.loc[census.TRU=='Total']
census.reset_index(drop=True,inplace=True)

In [31]:
c17_00=pd.read_excel('datasets/C-17/00.xlsx',skiprows=6,header=None,engine='openpyxl')
# engine has been specified to deal with warning

In [13]:
c17_00.shape

(24760, 17)

In [32]:
c17_00.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0,INDIA,1000.0,ASSAMESE,15311351.0,7810583.0,7500768.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,INDIA,NaN,NaN,NaN,NaN,NaN,2000.0,BENGALI,2025303.0,1042862.0,982441.0,NaN,NaN,NaN,NaN,NaN
2,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,BODO,883.0,521.0,362.0
3,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,GUJARATI,11.0,9.0,2.0
4,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000.0,HINDI,245880.0,153937.0,91943.0
5,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7000.0,KANNADA,2.0,1.0,1.0
6,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11000.0,MALAYALAM,8.0,5.0,3.0
7,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12000.0,MANIPURI,34.0,22.0,12.0
8,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13000.0,MARATHI,36.0,23.0,13.0
9,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14000.0,NEPALI,956.0,611.0,345.0

In [22]:
c17_00.loc[c17_00.iloc[:,2]!='NaN']

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0,INDIA,1000.0,ASSAMESE,15311351.0,7810583.0,7500768.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,INDIA,NaN,NaN,NaN,NaN,NaN,2000.0,BENGALI,2025303.0,1042862.0,982441.0,NaN,NaN,NaN,NaN,NaN
2,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,BODO,883.0,521.0,362.0
3,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,GUJARATI,11.0,9.0,2.0
4,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000.0,HINDI,245880.0,153937.0,91943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24755,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71000.0,KUKI,27.0,16.0,11.0
24756,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82000.0,LUSHAI/MIZO,20.0,5.0,15.0
24757,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96000.0,PAITE,75.0,30.0,45.0
24758,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114000.0,THADO,25.0,11.0,14.0
24759,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118000.0,VAIPHEI,14.0,3.0,11.0

In [19]:
c17_00.isnull().sum()

0         0
1         0
2     24638
3     24638
4     24638
5     24638
6     24638
7     20584
8     20584
9     20584
10    20584
11    20584
12     4298
13     4298
14     4298
15     4298
16     4298
dtype: int64