## import modules

In [13]:
import pandas as pd
from scipy import stats
import numpy as np

## census data processing

In [14]:
# for population data
cols=['State', 'Level', 'Name', 'TRU', 'No_HH', 'TOT_P', 'TOT_M', 'TOT_F']
census=pd.read_excel('datasets/census.xlsx',engine='openpyxl',usecols=cols)
censusIndia=census.iloc[0,:]
census=census.loc[(census.Level=='STATE') & (census.TRU=='Total')]
census=census.append(censusIndia,ignore_index=True)
census.sort_values(by=['State'],axis=0,inplace=True)
census.reset_index(drop=True,inplace=True)

In [15]:
census.head(10)

,State,Level,Name,TRU,No_HH,TOT_P,TOT_M,TOT_F
0,0,India,India,Total,249501663,1210854977,623270258,587584719
1,1,STATE,JAMMU & KASHMIR,Total,2119718,12541302,6640662,5900640
2,2,STATE,HIMACHAL PRADESH,Total,1483280,6864602,3481873,3382729
3,3,STATE,PUNJAB,Total,5513071,27743338,14639465,13103873
4,4,STATE,CHANDIGARH,Total,241173,1055450,580663,474787
5,5,STATE,UTTARAKHAND,Total,2056975,10086292,5137773,4948519
6,6,STATE,HARYANA,Total,4857524,25351462,13494734,11856728
7,7,STATE,NCT OF DELHI,Total,3435999,16787941,8987326,7800615
8,8,STATE,RAJASTHAN,Total,12711146,68548437,35550997,32997440
9,9,STATE,UTTAR PRADESH,Total,33448035,199812341,104480510,95331831

## male-to-female

In [16]:
c18=pd.read_excel('datasets/C-18.xlsx',engine='openpyxl',skiprows=6,header=None)

In [18]:
STATE_NAMES=[]
for state in c18.iloc[:,2].values:
    if not (state in STATE_NAMES):
        STATE_NAMES.append(state)

In [28]:
useful_data=[]
for i,state in enumerate(STATE_NAMES):
    
    # here i is the state code
    male_pop=census[(census['State']==i) & (census['TRU']=='Total')]['TOT_M'].values[0]
    female_pop=census[(census['State']==i) & (census['TRU']=='Total')]['TOT_F'].values[0]
    
    # tri
    tri_male=c18[(c18.iloc[:,0]==i) & (c18.iloc[:,4]=='Total') & (c18.iloc[:,3]=='Total')].iloc[0,9]
    tri_female=c18[(c18.iloc[:,0]==i) & (c18.iloc[:,4]=='Total') & (c18.iloc[:,3]=='Total')].iloc[0,10]

    #bi
    bi_male=c18[(c18.iloc[:,0]==i) & (c18.iloc[:,4]=='Total') & (c18.iloc[:,3]=='Total')].iloc[0,6] - tri_male
    bi_female=c18[(c18.iloc[:,0]==i) & (c18.iloc[:,4]=='Total') & (c18.iloc[:,3]=='Total')].iloc[0,7] - tri_female

    #uni
    uni_male=male_pop-bi_male-tri_male
    uni_female=female_pop-bi_female-tri_female
    # https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html
    p_value=stats.ttest_ind([male_pop/female_pop]*3,[tri_male/tri_female,bi_male/bi_female,uni_male/uni_female]).pvalue
    item={
        'state-code':i,
        'state-name':state,
        'p-value':p_value,
        'male-to-female':male_pop/female_pop,
        'tri-male-to-female-ratio':tri_male/tri_female,
        'bi-male-to-female-ratio':bi_male/bi_female,
        'uni-male-to-female-ratio':uni_male/uni_female
    }

    useful_data.append(item)

In [29]:
df=pd.DataFrame(useful_data)

### independence t-test of 2-vectors

In [30]:
df

,state-code,state-name,p-value,male-to-female,tri-male-to-female-ratio,bi-male-to-female-ratio,uni-male-to-female-ratio
0,0,INDIA,0.282425,1.060733,1.424666,1.226999,0.993949
1,1,JAMMU & KASHMIR,0.501108,1.125414,1.503057,1.388774,0.896659
2,2,HIMACHAL PRADESH,0.244872,1.029309,1.365580,1.173711,0.990764
3,3,PUNJAB,0.536197,1.117186,1.272127,1.258300,1.000333
4,4,CHANDIGARH,0.715469,1.222997,1.244976,1.270607,1.183684
5,5,UTTARAKHAND,0.206321,1.038245,1.398963,1.253383,0.995564
6,6,HARYANA,0.231236,1.138150,1.392128,1.370163,1.079064
7,7,NCT OF DELHI,0.556811,1.152130,1.202350,1.266985,1.087735
8,8,RAJASTHAN,0.203523,1.077387,1.766491,1.377928,1.041683
9,9,UTTAR PRADESH,0.168283,1.095967,1.489397,1.379809,1.062989
10,10,BIHAR,0.240253,1.089457,1.572359,1.262722,1.054859
11,11,SIKKIM,0.876006,1.123694,1.212894,1.215928,0.981064
12,12,ARUNACHAL PRADESH,0.845332,1.065835,1.301185,1.071350,0.897881
13,13,NAGALAND,0.787727,1.074221,1.327886,1.054521,0.939696
14,14,MANIPUR,0.558272,1.015085,1.367160,1.098657,0.859831
15,15,MIZORAM,0.332323,1.024862,1.901929,1.188964,0.938097
16,16,TRIPURA,0.350924,1.041586,1.859939,1.203201,0.932852
17,17,MEGHALAYA,0.401936,1.011372,1.407831,1.049701,0.960629
18,18,ASSAM,0.480299,1.044105,1.536110,1.121331,0.906100
19,19,WEST BENGAL,0.210557,1.052667,1.639129,1.357371,0.994849
20,20,JHARKHAND,0.339571,1.054335,1.540412,1.156132,0.993478
21,21,ODISHA,0.364948,1.021677,1.550834,1.187967,0.901631
22,22,CHHATTISGARH,0.238005,1.009486,1.381757,1.136553,0.987763
23,23,MADHYA PRADESH,0.235308,1.074192,1.516797,1.230144,1.047492
24,24,GUJARAT,0.414769,1.087840,1.528707,1.327166,0.907025
25,25,DAMAN & DIU,0.837919,1.617079,1.714734,1.514392,1.661328
26,26,DADRA & NAGAR HAVELI,0.683906,1.292173,1.623478,1.178476,1.255107
27,27,MAHARASHTRA,0.547450,1.075959,1.385310,1.202378,0.911701
28,28,ANDHRA PRADESH,0.285780,1.007203,1.529662,1.214531,0.923628
29,29,KARNATAKA,0.453373,1.027815,1.364035,1.076785,0.948429
30,30,GOA,0.713322,1.027432,1.142790,0.995960,0.840116
31,31,LAKSHADWEEP,0.325906,1.056555,1.814721,1.336331,0.902631
32,32,KERALA,0.277747,0.922247,1.191992,1.059429,0.868667
33,33,TAMIL NADU,0.288666,1.003580,1.359915,1.144700,0.945226
34,34,PUDUCHERRY,0.297717,0.963913,1.322563,1.168538,0.873442
35,35,ANDAMAN & NICOBAR ISLANDS,0.802761,1.141585,1.355907,1.194179,0.965370

- for no state or ut the ratio is significantly different
- should I try the t-test on normalized vectors(that is they have unit length)