## import modules

In [1]:
import pandas as pd

## read datafiles
- C-19 for language population
- C-08 for particular literacy-groups population from a state

In [2]:
c19=pd.read_excel('datasets/C-19.xlsx',skiprows=6,header=None,engine='openpyxl')
c19.fillna(0,inplace=True)

### particular literacy groups are
- Illiterate
- literate
- Below Primary
- primary
- Middle
- `Matric and Secondary+HS+Non tech+Tech as (Matric but below graduate)`
- Grad and above

In [3]:
c08=pd.read_excel('datasets/C-08.xlsx',engine='openpyxl',skiprows=7,header=None)

## obtain useful data from C-08 and C-19 for literacy-groups
- first get particular state names for identifying specific states
- get particular literacy-groups from C-19 file
- make list of particular literacy group row/col for a particular states
- now just simply iterate through each state to get relevent data and store it into a csv file
    - to get total pop of particular literacy-range I have used C-08 file
    - to get total pop that speaks more than 3 langs from a state in a particular literacy-range I have used C-19 file

In [4]:
# STATE_NAMES=[list(np.unique(c18.iloc[:,2].values))]
STATE_NAMES=[]
for state in c19.iloc[:,2].values:
    if not (state in STATE_NAMES) and state!=0:
        STATE_NAMES.append(state)

# although it is a bit of manual work but it is worth the efforts
LITRATE_GROUPS=['Illiterate', 'Literate but below primary', 'Primary but below middle', 'Middle but below matric/secondary', 'Matric/Secondary but below graduate', 'Graduate and above']
LITRATE_GROUP_COLS=[[[9]],[[18]],[[21]],[[24]],[[27],[30],[33],[36]],[[39]]]

In [5]:
useful_data=[]
for i,state in enumerate(STATE_NAMES):
    foo_df=c08[(c08.iloc[:,1]==i) & (c08.iloc[:,4]=='Total') & (c08.iloc[:,5]=='All ages')]
    for j,literacy_grp in enumerate(LITRATE_GROUPS):
        total_pop=0
        for litracy_list in LITRATE_GROUP_COLS[j]:
            total_pop+=foo_df.iloc[0,litracy_list[0]]
            
    
        # tri
        tri_total=c19[(c19.iloc[:,0]==str(i).zfill(2)) & (c19.iloc[:,4]==literacy_grp) & (c19.iloc[:,3]=='Total')].iloc[0,8]

        item={
            'state-code':i,
            'state-name':state,
            'literacy-group':literacy_grp,
            'literacy-group-pop':total_pop,
            'tri-ratio':tri_total/total_pop,
        }

        useful_data.append(item)

In [6]:
df=pd.DataFrame(useful_data)

## literacy-analysis 
- get highest ratio literacy-group for a state and store it into csv file

In [7]:
tri_list=[]
for i in range(36):
    values=df[df['state-code']==i].sort_values(by='tri-ratio',ascending=False).iloc[0,[2,4]].values
    tri_item={
        'state/ut':i,
        'age-group':values[0],
        'percentage':round(values[1]*100,2)
    }

    tri_list.append(tri_item)

In [8]:
tri_df=pd.DataFrame(tri_list)

In [9]:
tri_df.to_csv('outputs/literacy-india.csv',index=False)

In [10]:
tri_df

    state/ut           age-group  percentage
0          0  Graduate and above       32.43
1          1  Graduate and above       67.39
2          2  Graduate and above       15.25
3          3  Graduate and above       76.65
4          4  Graduate and above       69.47
5          5  Graduate and above        7.24
6          6  Graduate and above       18.04
7          7  Graduate and above       23.91
8          8  Graduate and above        7.96
9          9  Graduate and above        6.65
10        10  Graduate and above        8.56
11        11  Graduate and above       77.33
12        12  Graduate and above       71.54
13        13  Graduate and above       70.30
14        14  Graduate and above       64.66
15        15  Graduate and above       24.92
16        16  Graduate and above       33.81
17        17  Graduate and above       46.93
18        18  Graduate and above       62.47
19        19  Graduate and above       24.47
20        20  Graduate and above       20.09
21        21  Graduate and above       66.74
22        22  Graduate and above       10.92
23        23  Graduate and above       11.19
24        24  Graduate and above       68.83
25        25  Graduate and above       54.84
26        26  Graduate and above       51.93
27        27  Graduate and above       64.80
28        28  Graduate and above       37.07
29        29  Graduate and above       48.94
30        30  Graduate and above       80.53
31        31  Graduate and above       67.29
32        32  Graduate and above       38.70
33        33  Graduate and above       14.99
34        34  Graduate and above       21.22
35        35  Graduate and above       55.20

## observations

- all states have graduate and above literacy-group as highest proportion of population tha speaks more than three languages; it does make sense in terms of percantange who speaks highest 3+ langs, we expect most graduate population to speak more than three languages
- in most states graduates have more than 50% of them speak more than 3 langs